.login-form{
    color: rgb(251, 248, 248);
    /* width: 400px; */
    width:30%;
    margin: 0px auto;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
   
  }
  .bg{
        background-color: rgba(93, 50, 194, 0.87);
        height: auto;
  }
  .colr{
      background-color: rgb(255, 250, 249);
      font-family: verdana;
      color:rgb(119, 111, 111)
  }
 /* .dark{
      color: black;
      padding-right: 70px;
  }
  a:dark {
    color: red;
  }
  a:hover {
    color: hotpink;
  } */
  .checklist{
    padding-left: 30%;
    color: white;
    font-size: large;
    padding-right: 20%;
   
  }
  .error{
    color: red;
  }